#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Name=BmsTWO
GenericName=bmson Editor
Comment=Editor for bmson music-game charts
Exec=BmsTWO %f
Icon=bmstwo64
Categories=AudioVideo;Audio;Music;
Terminal=false
MimeType=application/json;
